.search-tab__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-tab__item {
    display: inline-block;
    margin: 0 4px 0;
    padding: 2px 4px;
    border-width: 1px 1px 0;
    border-color: #eee;
    border-style: solid;
    color: #333;
    background-color: #eee;
}

.search-tab__item--active {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}

.search-tab__item a {
    text-decoration: none;
    color: inherit;
}

.flight-list {
    border: 1px solid #ccc;
    width: 900px;
    padding: 8px;
}

.flight-item {
    border: 1px solid #ccc;
    padding: 8px;
}

.flight-item__airline {
    float: left;
}

.flight-item__price {
    float: right;
}

.flight-item__travel {
    padding: 10px 10px 0;
}

.flight-item__start {
    float: left;
}

.flight-item__finish {
    float: right;
}

.clearfix {
    clear: both;
}
